<div class="cards-simple-wrapper">
    <div class="row">
        {% for p in providers %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            {% if p.photos[0].url is defined %}
            <div class="card-simple" data-background-image="{{ asset(p.photos[0].url) }}">
                {% else %}
                <div class="card-simple" data-background-image="#">
                    {% endif %}
                    <div class="card-simple-background">
                        <div class="card-simple-content">
                            <h2><a href="{{ path("provider_detail", {"slug" : p.slug}) }}">{{ p.name }}</a></h2>

                            <div class="card-simple-actions">
                                <a href="{{ path("provider_detail", {"slug" : p.slug}) }}" class="fa fa-search"></a>
                            </div><!-- /.card-simple-actions -->

                        </div><!-- /.card-simple-content -->

                        {% for sc in p.serviceCategories %}

                            <div class="card-simple-price">{{ sc.name }}</div>

                        {% endfor %}

                    </div><!-- /.card-simple-background -->
                </div><!-- /.card-simple -->
            </div><!-- /.col-* -->

            {% endfor %}

        </div><!-- /.row -->
    </div><!-- /.cards-simple-wrapper -->

    <div class="pager">
        {{ knp_pagination_render(providers) }}
    </div>