{% extends ":Front:front_layout.html.twig" %}

    {% block content %}
        {% block core_content %}
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">

                    <div class="page-title">
                        <h1>Sign Up</h1>
                    </div><!-- /.page-title -->

                    {#Form Start#}
                    {#<form method="post" action="?">#}
                    {{ form_start(form)}}
                    {{ form_errors(form) }}

                    {#Type#}
                    <div class="form-group">
                        {{ form_errors(form.type) }}
                        {{ form_label(form.type, 'Type') }}
                        {{ form_widget(form.type, {'attr':{'class':'form-control'}}) }}
                    </div><!-- /.form-group -->

                    {#Email#}
                    <div class="form-group">
                    {{ form_errors(form.email) }}
                    {{ form_label(form.email, 'Email') }}
                    {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                    </div><!-- /.form-group -->

                    {#Password#}
                    <div class="form-group">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_label(form.plainPassword.first, 'Password') }}
                        {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control'}}) }}
                    </div><!-- /.form-group -->

                    {#Password Retype#}
                    <div class="form-group">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_label(form.plainPassword.second, 'Retype Password') }}
                        {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}
                    </div><!-- /.form-group -->

                    {#Submit#}
                    {{ form_widget(form.submit,{'label':'Register','attr':{'class':'btn btn-primary pull-right'}}) }}

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    {#Form End#}

                </div><!-- /.col-sm-4 -->
            </div><!-- /.row -->
        {% endblock %}
    {% endblock %}


