        <div>
            {{ form_start(form,{'attr':{'class':'filter'}}) }}
            {{ form_errors(form) }}
            <div class="row">

                {#Name#}
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        {{ form_errors(form.name) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.name,{'attr':{'class':'form-control', 'placeholder':'Name'}}) }}
                        </div>
                    </div>
                </div>

                {#Post Code#}
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        {{ form_errors(form.postCode) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.postCode,{'attr':{'class':'form-control', 'placeholder':'Post Code'}}) }}
                        </div>
                    </div>
                </div>

                {#Service Category#}
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        {{ form_errors(form.serviceCategories) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.serviceCategories,{'attr':{'class':'form-control', 'placeholder':'Service Category'}}) }}
                        </div>
                    </div>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-sm-8">
                    <div class="filter-actions">
                        {#{{ form_widget(form.reset, { 'label': 'Reset Filter' }) }}#}
                        {#<a href="#"><i class="fa fa-close"></i> Reset Filter</a>#}
                        {#<a href="#"><i class="fa fa-save"></i> Save Search</a>#}
                    </div>
                </div>

                <div class="col-sm-4">
                    {{ form_widget(form.search,{'attr':{'class':'btn btn-primary'}}) }}
                    {#<button type="submit" class="btn btn-primary">Redefine Search Result</button>#}
                </div><!-- /.col-* -->

            </div>

            {#Affiche le reste des champs. Est utile pour générer le champ invisible _token de symfony.#}
            {{ form_rest(form) }}

            {{ form_end(form) }}


        </div>

    {#{% endblock %}#}

