        <div>
            {{ form_start(form,{'attr':{'class':'filter'}}) }}
            {{ form_errors(form) }}
            <div class="row">

                {#Name#}
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        {{ form_errors(form.name) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.name,{'attr':{'class':'form-control', 'placeholder':'Search by Name'}}) }}
                        </div>
                    </div>
                </div>

                {#Post Code#}
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        {{ form_errors(form.postCode) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.postCode,{'attr':{'class':'form-control', 'placeholder':'Post Code'}}) }}
                        </div>
                    </div>
                </div>

                {#Service Category#}
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        {{ form_errors(form.serviceCategories) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.serviceCategories,{'attr':{'class':'form-control', 'placeholder':'Service Category'}}) }}
                        </div>
                    </div>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-sm-8">
                </div>

                <div class="col-sm-4">
                    {{ form_widget(form.search,{'attr':{'class':'btn btn-primary'}}) }}
                </div><!-- /.col-* -->

            </div>

            {{ form_rest(form) }}

            {{ form_end(form) }}


        </div>

