{% extends ":Front:front_layout.html.twig" %}

    {% block content %}
        {% block core_content %}
            <div class="row">

                {#Form Start#}

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="col-sm-4 col-lg-3">
                    <div class="sidebar">

                        {% include ":Front/Profile:profile_sidebar_menu.html.twig" %}

                    </div><!-- /.sidebar -->
                </div><!-- /.col-* -->

                <div class="col-sm-8 col-lg-9">
                    <div class="content">
                        <div class="page-title">
                            <h1>Edit Profile</h1>
                        </div><!-- /.page-title -->

                        {#CONTACT#}
                        <div class="background-white p20 mb30">
                            <h3 class="page-title">
                                Contact Information
                            </h3>

                            <div class="row">

                                {#Name#}
                                <div class="form-group col-sm-6">
                                    {{ form_errors(form.name) }}
                                    {{ form_label(form.name, 'Company Name') }}
                                    {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->

                                {#VAT#}
                                <div class="form-group col-sm-6">
                                    {{ form_errors(form.vat) }}
                                    {{ form_label(form.vat, 'VAT') }}
                                    {{ form_widget(form.vat, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->

                                {#Phone#}
                                <div class="form-group col-sm-6">
                                    {{ form_errors(form.phone) }}
                                    {{ form_label(form.phone, 'Phone') }}
                                    {{ form_widget(form.phone, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->

                                {#Contact Email#}
                                <div class="form-group col-sm-6">
                                    {{ form_errors(form.contactEmail) }}
                                    {{ form_label(form.contactEmail, 'Contact Email') }}
                                    {{ form_widget(form.contactEmail, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->

                                {#Website#}
                                <div class="form-group col-sm-6">
                                    {{ form_errors(form.website) }}
                                    {{ form_label(form.website, 'Website') }}
                                    {{ form_widget(form.website, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->

                            </div><!-- /.row -->
                        </div>

                        {#ADDRESS#}
                        <div class="background-white p20 mb30">
                            <h3 class="page-title">
                                Address
                            </h3>

                            <div class="row">
                                {#Address Street#}
                                <div class="form-group col-sm-9">
                                    {{ form_errors(form.addressStreet) }}
                                    {{ form_label(form.addressStreet, 'Address Street') }}
                                    {{ form_widget(form.addressStreet, {'attr':{'class':'form-control'}}) }}

                                </div><!-- /.form-group -->

                                {#Address Number#}
                                <div class="form-group col-sm-3">
                                    {{ form_errors(form.addressNumber) }}
                                    {{ form_label(form.addressNumber, 'Address Number') }}
                                    {{ form_widget(form.addressNumber, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->

                                {#Post Code#}
                                <div class="form-group col-sm-4">
                                    {{ form_errors(form.postCode) }}
                                    {{ form_label(form.postCode, 'Post Code') }}
                                    {{ form_widget(form.postCode, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->

                                {#Locality#}
                                <div class="form-group col-sm-4">
                                    {{ form_errors(form.locality) }}
                                    {{ form_label(form.locality, 'Locality') }}
                                    {{ form_widget(form.locality, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->

                                {#Commune#}
                                <div class="form-group col-sm-4">
                                    {{ form_errors(form.commune) }}
                                    {{ form_label(form.commune, 'Commune') }}
                                    {{ form_widget(form.commune, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->

                            </div><!-- /.row -->
                        </div>


                        {#COURSES#}
                        <div class="background-white p20 mb30">
                            <h3 class="page-title">
                                Courses
                                <a href="{{ path('course_new') }}" class="btn btn-primary pull-right">New</a>
                            </h3>

                            <div class="row">
                                {#Courses#}
                                {% for c in user.courses %}
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            {{ c.name }}
                                            <a href="{{ path('course_delete', {'id': c.id}) }}"
                                               class="btn btn-danger pull-right">Delete</a>
                                            <a href="{{ path('course_update', {'id': c.id}) }}"
                                               class="btn btn-warning pull-right">Update</a>
                                        </div><!-- /.-->
                                    </div><!-- /.form-group -->
                                {% endfor %}
                            </div><!-- /.row -->
                        </div>

                        {#PROMO#}
                        <div class="background-white p20 mb30">
                            <h3 class="page-title">
                                Promotions
                                <a href="{{ path('promotion_new') }}" class="btn btn-primary pull-right">New</a>
                            </h3>

                            <div class="row">
                                {#Courses#}
                                {% for p in user.promotions %}
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            {{ p.name }}
                                            <a href="{{ path('promotion_delete', {'id': p.id}) }}"
                                               class="btn btn-danger pull-right">Delete</a>
                                            <a href="{{ path('promotion_update', {'id': p.id}) }}"
                                               class="btn btn-warning pull-right">Update</a>
                                        </div><!-- /.-->
                                    </div><!-- /.form-group -->
                                {% endfor %}
                            </div><!-- /.row -->
                        </div>

                        {#SERVICE CATEGORIES#}
                        <div class="background-white p20 mb30">
                            <h3 class="page-title">
                                Service Categories
                            </h3>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    {{ form_errors(form.serviceCategories) }}
                                    {{ form_widget(form.serviceCategories, {'attr':{'class':'form-control'}}) }}
                                </div><!-- /.form-group -->
                            </div><!-- /.row -->

                        </div>

                    </div><!-- /.content -->
                </div><!-- /.col-* -->

                {#Submit#}
                {{ form_widget(form.submit,{'label':'Update','attr':{'class':'btn btn-primary pull-right'}}) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
                {#Form End#}

            </div><!-- /.row -->

        {% endblock %}
    {% endblock %}