{% extends ":Front:front_layout.html.twig" %}

    {% block content %}
        {% block core_content %}
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">

                    <div class="page-title">
                        <h1>Confirm</h1>
                    </div><!-- /.page-title -->

                    {{ dump(tempUser) }}

                    {#Form Start#}
                    {{ form_start(form)}}
                    {{ form_errors(form) }}

                    {#Type#}
                    {#<div class="form-group">#}
                        {#{{ form_errors(form.type) }}#}
                        {#{{ form_label(form.type, 'Type') }}#}
                        {#{{ form_widget(form.type, {'attr':{'class':'form-control'}}) }}#}
                    {#</div><!-- /.form-group -->#}




                    {{ form_rest(form) }}

                    {#Submit#}
                    {{ form_widget(form.submit,{'label':'Register','attr':{'class':'btn btn-primary pull-right'}}) }}

                    {{ form_end(form) }}
                    {#Form End#}

                </div><!-- /.col-sm-4 -->
            </div><!-- /.row -->
        {% endblock %}
    {% endblock %}


