<div class="cards-simple-wrapper">
    <div class="row">

        {%for sc in serviceCategories%}
            <div class="col-sm-6 col-lg-4">
                <div class="card-simple" data-background-image="{{asset(sc.serviceImage.url)}}">
                    <div class="card-simple-background">
                        <div class="card-simple-content">
                            <h2><a href="{{ path("service_category_detail", {"slug" : sc.slug})}}">{{sc.name}}</a></h2>
                            <div class="card-simple-actions">
                                <a href="{{ path("service_category_detail", {"slug" : sc.slug})}}" class="fa fa-search"></a>
                            </div><!-- /.card-simple-actions -->
                        </div><!-- /.card-simple-content -->
                        <div class="card-simple-label"></div>
                        <div class="card-simple-price"></div>
                    </div><!-- /.card-simple-background -->
                </div><!-- /.card-simple -->
            </div><!-- /.col-* -->
        {%endfor%}

    </div><!-- /.row -->
</div><!-- /.cards-simple-wrapper -->

<div class="pager">
    {{ knp_pagination_render(serviceCategories) }}
</div>