<div class="header-wrapper">
    <div class="container">
        <div class="header-inner">
            <div class="header-logo">
                <a href="{{ path("home") }}">
                    <img src="{{ asset('assets/img/logo.png') }}" alt="Logo">
                    <span>Bien-être</span>
                </a>
            </div><!-- /.header-logo -->

            <div class="header-content">
                <div class="header-top">
                    {% block header_top %}

                        <div class="header-nav-user">
                            {% if is_granted('ROLE_USER') %}
                            <div class="dropdown">


                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="header-nav-user-name">{{ (app.user.email) }}</span> <i
                                            class="fa fa-chevron-down"></i>
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{ path("profile_update") }}">Edit Profile</a></li>
                                    <li><a href="listing-submit.html">Submit Listing</a></li>
                                    <li><a href="change-password.html">Change Password</a></li>
                                    <li><a href="{{ path("logout") }}">Logout</a></li>
                                </ul>
                            </div><!-- /.dropdown -->
                            {% else %}
                            <ul class="header-nav-secondary nav nav-pills">
                                <li><a href="{{ path("login") }}">Login</a></li>
                                <li><a href="{{ path("sign_up") }}">Sign Up</a></li>
                            </ul>
                            {% endif %}
                        </div><!-- /.header-nav-user -->




                        {#<ul class="header-nav-secondary nav nav-pills">#}
                            {#{% if is_granted('ROLE_USER') %}#}

                                {#TO DO : METTRE UN LIEN VERS UPDATE/ID pour EMAIL#}

                                {#<li> {{ (app.user.email) }}</li>#}
                                {#<li><a href="{{ path("logout") }}">Logout</a></li>#}
                            {#{% else %}#}
                                {#<li><a href="{{ path("login") }}">Login</a></li>#}
                                {#<li><a href="{{ path("sign_up") }}">Sign Up</a></li>#}
                            {#{% endif %}#}
                        {#</ul>#}



                    {% endblock %}
                </div><!-- /.header-top -->

                <div class="header-bottom">
                    {% block header_bottom_menu %}
                        {% include ":Front/Common:menu.html.twig" %}
                    {% endblock %}
                </div><!-- /.header-bottom -->
            </div><!-- /.header-content -->
        </div><!-- /.header-inner -->
    </div><!-- /.container -->
</div><!-- /.header-wrapper -->