{% extends ':Front:front_layout.html.twig' %}
        {% block main %}
            <div class="main-inner">
            <div class="content">
                {% block slider %}
                    {% include ":Front/Provider/Detail:slider_provider_detail.html.twig" %}
                {% endblock %}
                {% block container %}
                <div class="container">
                    <div class="row detail-content">

                        <div class="col-sm-7">

                            <div class="content">

                                <div class="page-title">
                                    <h1>Courses</h1>
                                </div><!-- /.page-title -->

                                <div class="posts">

                                    {% for cou in provider.courses %}

                                        <div class="post post-boxed">

                                            <div class="post-content">
                                                <h2><a href="#">{{ cou.name }}</a></h2>
                                                <p>{{ cou.description }}</p>
                                            </div><!-- /.post-content -->

                                            <div class="post-meta clearfix">

                                                <div class="post-meta-date"><i>From {{ cou.start|date("d/m/Y") }}
                                                        to {{ cou.end|date("d/m/Y") }}</i></div>
                                                <div class="post-meta-categories">
                                                    <i class="fa fa-tags"></i>
                                                    {{ cou.tariff }} €
                                                </div>
                                            </div><!-- /.post-meta -->
                                        </div><!-- /.post -->
                                    {% else %}
                                        <p><i>No courses available for now...</i></p>

                                    {% endfor %}

                                </div><!-- /.posts -->

                            </div><!-- /.content -->

                        </div><!-- /.col-sm-7 -->

                        <div class="col-sm-5">

                            <h2>About <span class="text-secondary">{{ provider.name }}</span></h2>
                            <div class="background-white p20">
                                <div class="detail-vcard">
                                    <div class="detail-logo">
                                        {% if provider.logos[0].url is defined %}
                                            <img src="{{ asset(provider.logos[0].url) }}">
                                        {% endif %}
                                    </div><!-- /.detail-logo -->

                                    <div class="detail-contact">
                                        <div class="detail-contact-email">
                                            {% if provider.contactEmail is  not null %}
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto:{{ provider.contactEmail }}">
                                                    {{ provider.contactEmail }}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="detail-contact-phone">
                                            {% if provider.phone is  not null %}
                                                <i class="fa fa-mobile-phone"></i>
                                                <a href="tel:{{ provider.phone }}">
                                                    {{ provider.phone }}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="detail-contact-website">
                                            {% if provider.website is  not null %}
                                                <i class="fa fa-globe"></i>
                                                <a href="#">
                                                    {{ provider.website }}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="detail-contact-address">
                                            <i class="fa fa-map-o"></i>
                                            {{ provider.addressStreet }} {{ provider.addressNumber }}<br>
                                            {{ provider.postCode.postCode }} {{ provider.locality.locality }}
                                        </div>
                                    </div><!-- /.detail-contact -->
                                </div><!-- /.detail-vcard -->

                                <h2>Promotions</h2>
                                <div class="background-white p20 reasons">
                                    {% for prom in provider.promotions %}
                                        <div class="reason">
                                            <div class="reason-content">
                                                <h4>{{ prom.name }}</h4>
                                                <p>{{ prom.description }}</p><br>
                                                <p><i>From {{ prom.start|date("d/m/Y") }}
                                                        to {{ prom.end|date("d/m/Y") }}</i></p>
                                            </div><!-- /.reason-content -->
                                        </div><!-- /.reason -->
                                    {% else %}
                                        <p><i>No promotions available for now...</i></p>
                                    {% endfor %}
                                </div>
                            </div><!-- /.col-sm-5 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                    {% endblock %}
                </div><!-- /.content -->
            </div><!-- /.main-inner -->
        {% endblock %}